<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="AzureReporting.Instance" value="dev.azure.com/btbrd" />
    <add key="AzureReporting.TeamProject" value="Cleanbird" />
    <add key="AzureReporting.AccessToken" value="nvylayo6rpm4hz2z5axoje3er5amkm5qvsxsbpexiyvaraneo2da" />
    <add key="AzureReporting.AreaPath" value="Cleanbird\Software" />
    <add key="AzureReporting.QueryId" value="53bac8f9-6dc8-42d3-838e-5075b27cbfa9" />
  </appSettings>

</configuration>