<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="AzureReporting.Instance" value="dev.azure.com/btbrd" />
    <add key="AzureReporting.TeamProject" value="Bitbird.Core" />
    <add key="AzureReporting.AccessToken" value="2usdskfths3olgyfkp3dprooqkpfufoihiunqdt5mkckxjctld6q" />
    <add key="AzureReporting.AreaPath" value="Bitbird.Core\Bitbird.Core.Ticketing" />
    <add key="AzureReporting.QueryId" value="b43f7476-c39c-435f-9113-cf319517752c" />
  </appSettings>

</configuration>